<div *ngIf="data.walletType === 'wallet'" class="wallet">
  <div class="modalcontent">
    <h5 fxFlex="50">Receive ZYRK</h5>
    <div class="accountlist">
      <div *ngFor="let item of receivedZyrkInfo">
        <div _ngcontent-c7="" class="divider"></div>
        <div class="amountsend">
          <div class="recipientdtls" fxLayout="row">
            <strong class="recipient" fxFlex="70">Label: {{item.account ? item.account : ' '}}</strong>
          </div>
          <div fxLayout.gt-md="row" fxLayoutGap="5px">
            <input class="modalinput" matInput fxFlex="75" [(ngModel)]="item.address" disabled>
            <button class="btn btn-info btn-auto btn-sm" style="border-radius: 2px; line-height: 20px !important; height: 35px; background-color: #026bfb !important; border-color: #026bfb !important; color: #fff !important" fxFlex="10" matTooltip="Details" (click)="openShowQR(item.address)">...</button>
            <button class="btn btn-info btn-auto btn-sm" style="border-radius: 2px; line-height: 20px !important; height: 35px; background-color: #026bfb !important; border-color: #026bfb !important; color: #fff !important" fxFlex="15" matTooltip="Copy Address" ngxClipboard
            [cbContent]="item.address" (click)="copyToClipBoard()">Copy</button>
          </div>
        </div>
      </div>
    </div>
    <div class="send buttons" fxLayout="row" fxLayoutAlign="space-between">
      <button class="btn" style="border-radius: 2px;" fxFlex="40" (click)="close()">Cancel</button>
      <button class="btn" style="border-radius: 2px; background-color: #026bfb !important; border-color: #026bfb !important; color: #fff !important" fxFlex="40" (click)="openSuccess('wallet')">Create Address</button>
    </div>
  </div>
</div>


<div *ngIf="data.walletType === 'vault'" class="vault">
  <div class="modalcontent">
    <h5 fxFlex="50">Convert Zyrk to Zyop</h5>
    <div _ngcontent-c7="" class="divider"></div>

    <div class="amountsend">
        <p style="font-weight: 700 !important">Amount to Convert:</p>
      <div fxLayout.gt-md="row">
        <input class="modalinput" type="number" matInput fxFlex="100" placeholder="Amount of Zyrk" (ngModelChange)="getSendingAmount($event)"
          [(ngModel)]="depositToVault.amount" onkeypress="return (event.chaCode == 8 || event.charCode == 0 || event.charCode ==13) ? null : event.charCode >= 48 && event.charCode <= 57">
        <span class="input-text" *ngIf="data.currency == 'USD'">({{convertUSD |  currency : 'USD' : 'symbol'}})</span>
      </div>
      <div fxLayout.gt-md="row" class="deposit-available">
        <div style="color:#000; cursor: pointer; font-weight: 700 !important" fxFlex="80">Available: <span style="color: #026bfb">{{balance}} ZYRK</span></div>
      </div>
      <br/>
      <p style="font-weight: 700 !important">Zyop Key (optional):</p>
      <div fxLayout.gt-md="row">
        <input class="modalinput" type="number" matInput fxFlex="100" placeholder="Zyop Key" (ngModelChange)="getSendingAmount($event)"
          [(ngModel)]="anonymizeKey" onkeypress="return (event.chaCode == 8 || event.charCode == 0 || event.charCode ==13) ? null : event.charCode >= 48 && event.charCode <= 57">
      </div>
      <br/>
      <p style="font-weight: 700 !important">Wallet Password:</p>
      <div fxLayout.gt-md="row">
        <input class="modalinput" matInput fxFlex="100" [type]="showPassword ? 'text' : 'password'" placeholder="Enter Password" [(ngModel)]="walletPassword" required>
      </div>
      <br/>
    </div>
  </div>

  <div class="modaldetails">
    <div>
      <div class="transdetail" fxLayout.gt-md="row">
        <span class="modallabel" fxFlex="30">Sending</span>
        <span class="zyrklabel" fxFlex="70" fxLayoutAlign="end">{{amount}}
          <span>&nbsp; ZYRK</span>
        </span>
      </div>

      <div class="transdetail" fxLayout.gt-md="row">
        <span class="modallabel" fxFlex="30">Fee</span>
        <span class="zyrklabel" fxFlex="70" fxLayoutAlign="end">{{fees | number: '.4'}}
          <span>&nbsp;ZYRK</span>
        </span>

      </div>

      <div class="transtotal" fxLayout.gt-md="row">
        <span fxFlex="30">Total</span>
        <span fxFlex="70" fxLayoutAlign="end">{{total | number: '.4'}}
          <span>&nbsp; ZYRK</span>
        </span>
      </div>
    </div>
  </div>

  <div class="send buttons" fxLayout="row" fxLayoutAlign="space-between">
    <button class="btn" style="border-radius: 2px;" fxFlex="40" (click)="close()">Cancel</button>
    <button class="btn" style="border-radius: 2px; background-color: #f42f54 !important; border-color: #f42f54 !important; color: #fff !important" fxFlex="40" >Disabled</button>
  </div>
</div>

<div *ngIf="data.walletType === 'anonymouse'" class="vault">
    <div class="modalcontent">
      <h5 fxFlex="50">Receive Anonymously</h5>
      <div _ngcontent-c7="" class="divider"></div>
      <p class="subtitle">
        The below Zyop Key can be used to receive ZYOP/ZYRK anonymously. 
        <br/>Each key can only be used once and for one transaction.
        <br/>The wallet will automatically detect when a transaction has been made and generate a new one to use.
      </p>
      <br/>
      <p style="font-weight: 700;">QR Code:</p>
      <div class="qrimage text-center" *ngIf="anonymizeKey">
        <qr-code [value]="anonymizeKey" [size]="300"></qr-code>
      </div>
      <br />
      <div class="amountsend">
        <p style="font-weight: 700">Zyop Key:</p>
        <div fxLayout.gt-md="row" fxLayoutAlign="space-between">
          <input class="modalinput" type="text" matInput fxFlex="80" [(ngModel)]="anonymizeKey" readonly>
          <button class="btn btn-info btn-auto btn-sm" style="border-radius: 2px; line-height: 20px !important; height: 35px; background-color: #026bfb !important; border-color: #026bfb !important; color: #fff !important" ngxClipboard [cbContent]="anonymizeKey" (click)='copyToClipBoard(anonymizeKey)' fxFlex="16"> Copy </button>
        </div>
      </div>
    </div>
  </div>
