
@import '../../shared/shared';

.mat-column-Address {
    flex: 0 0 20%;
  }
  
  .mat-column-Protocol {
    flex: 0 0 15%;
  }
  
  .mat-column-Status {
    flex: 0 0 15%;
  }
 
  .mat-column-Last {
    flex: 0 0 15%;
  }
  
  .mat-column-Payee {
    flex: 0 0 35%;
  }