<mat-table [dataSource]="masterNodes" class="data-table tranx-table dataTable no-footer" style="background: transparent !important">
  <ng-container matColumnDef="Name">
    <mat-cell *matCellDef="let element" class="matCell">
      <span style="color: #fff">Label:</span><br/>
      <small style="color: #97afd5! important">{{element.alias}}</small>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Status">
    <mat-cell *matCellDef="let element" class="matCell">
      <span style="color: #fff">Status:</span><br/>
      <small *ngIf="element.status === 'EXPIRED'" style="color: #f42f54! important">EXPIRED</small>
      <small *ngIf="element.status === 'MISSING'" style="color: #f42f54! important">MISSING</small>
      <small *ngIf="element.status === 'NEW_START_REQUIRED'" style="color: #ffc107 !important">NEW_START_REQUIRED</small>
      <small *ngIf="element.status === 'PRE_ENABLED'" style="color: #ffc107 !important">PRE_ENABLED</small>
      <small *ngIf="element.status === 'ENABLED'" style="color: #28a745 !important">ENABLED</small>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Address">
    <mat-cell *matCellDef="let element" class="matCell">
      <span style="color: #fff">IP Address:</span><br/>
      <small style="color: #97afd5! important">{{element.address}}</small>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Detail">
    <mat-cell *matCellDef="let element">
      <fa-icon style="color: #fff; text-align: center" [icon]="faCog" class="matCell1" (click)="openDetail(element)" matTooltip="Masternode Details"></fa-icon>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Start">
    <mat-cell *matCellDef="let element" class="matCell1">
      <fa-icon style="color: #fff !important" [icon]="faCheckCircle" class="matCell1" (click)="startNode(element)" matTooltip="Start Masternode"></fa-icon>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Update">
    <mat-cell *matCellDef="let element" class="matCell1">
      <fa-icon style="color: #fff !important" [icon]="faRedo" class="matCell1" (click)="updateZYRK(element)" matTooltip="Update Masternode"></fa-icon>
    </mat-cell>
  </ng-container>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>