<mat-drawer-container style="height: 100%">
  <mat-drawer-content style="padding: 0 35px !important; height: 100%">
  <page-header heading="Address Book" [showAddress]="true" [navbar]="help"></page-header>
    <mat-table [dataSource]="dataSource" class="data-table tranx-table dataTable no-footer" style="min-height: 100% !important">
      <ng-container matColumnDef="Name">
        <mat-cell *matCellDef="let element" class="name tranx-no">
          <span style="color: #fff; text-transform: none">Label:<br/>
            <span class="pull-right" style="text-transform: none; color: #97afd5! important">{{element.name}}</span>
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Type">
        <mat-cell *matCellDef="let element" class="type">
          <span style="color: #fff; text-transform: none">Type:<br/>
            <span class="pull-right" style="text-transform: capitalize; color: #97afd5! important">{{element.type}}</span>
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Address">
        <mat-cell  *matCellDef="let element" class="address" ngxClipboard [cbContent]="element.address" (click)="copyToClipboard(element.address)">
          <span style="color: #fff; text-transform: none">Address:<br/>
            <span class="pull-right" style="text-transform: capitalize; color: #97afd5! important">{{element.address}}</span>
          </span>     
        </mat-cell>     
      </ng-container>
      <ng-container matColumnDef="Action">
        <mat-cell  *matCellDef="let element" class="tranx-action">
          <button mat-button class="editbtn" (click)="edit(element)">
            <fa-icon [icon]="faEdit" class="editicon"></fa-icon>
          </button>
          <button mat-button class="deletebtn" (click)="delete(element)">
            <fa-icon [icon]="faTrashAlt" class="deleteicon"></fa-icon>
          </button>
        </mat-cell>      
      </ng-container>      
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </mat-drawer-content>
</mat-drawer-container>
